.chat-container {
  position: fixed;
  bottom: 10px;
  right: 4%;
}

.chat-icon {
  position: fixed;
  bottom: 30px;
  right: 4%;
  cursor: pointer;
}

.chat-window {
  width: 350px;
  height: 500px;
  background-color: white;
  border: none;
  border: 1px solid gray;
  border-radius: 20px;
  position: relative;
  font-size: 1rem;

  .chat-header {
    width: 100%;
    background-color: #499cf3;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: white;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .messages {
    position: relative;
    max-height: 380px;
    overflow-y: auto;
    font-size: 0.9rem;
  }

  .messages .message {
    clear: both;

  }

  .messages .message.left .avatar {
    background-color: #f5886e;
    float: left;
  }

  .messages .message.left .text_wrapper {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid gray;
    max-width: 300px;
    width: fit-content;
    margin-bottom: 3px;
  }

  .messages .message.left .text {
    color: #000000;
    padding: 3px 5px;
  }

  .messages .message.right .text_wrapper {
    background-color: #499cf3;
    float: right;
    border-radius: 10px;
    //border: 1px solid gray;
    max-width: 300px;
    width: fit-content;
    margin-bottom: 3px;
  }

  .messages .message.right .text {
    color: #ffffff;
    padding: 3px 10px;
  }

  .form {
    position: absolute;
    width: 100%;
    bottom: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;

    input {
      border: 1px solid cornflowerblue;
      border-radius: 10px;
      padding: 5px;
      width: 85%;

      &:focus {
        outline: none;
        border: none;
      }
    }
  }
}